# @format

Logging:
  LogLevel:
    Default: Information

CommonStep: &CommonStep
  Name: Russian
  Parallel: true
  Recursively: true
  Steps:
    - Name: Search Appointments
      Duration: 00:03:00
  Schedule:
    Enabled: false
    Limit: 3
    Delay: 00:05:00
    Workdays: mon,tue,wed,thu,fri,sat,sun

CommonSchedule: &CommonSchedule
  Schedule:
    Enabled: false
    Workdays: mon,tue,wed,thu,fri,sat,sun

Worker:
  Name: Scheduler
  Steps:
    - Name: Serbia
      Parallel: true
      Steps:
        - Name: Belgrade
          Steps:
            - Name: Russian
              Recursively: true
              Steps:
                - Name: Search Appointments
                  Duration: 00:03:00
              Schedule:
                Enabled: true
                Limit: 20
                Delay: 00:05:00
                Workdays: mon,tue,wed,thu,fri,sat,sun
          Schedule:
            Enabled: true
            Workdays: mon,tue,wed,thu,fri,sat,sun
    - Name: Germany
      Parallel: true
      Steps:
        - Name: Berlin
          Steps:
            <<: *CommonStep
          <<: *CommonSchedule
    - Name: France
      Parallel: true
      Steps:
        - Name: Paris
          Steps:
            <<: *CommonStep
          <<: *CommonSchedule
    - Name: Montenegro
      Parallel: true
      Steps:
        - Name: Podgorica
          Steps:
            <<: *CommonStep
          <<: *CommonSchedule
    - Name: Ireland
      Parallel: true
      Steps:
        - Name: Dublin
          Steps:
            <<: *CommonStep
          <<: *CommonSchedule
    - Name: Switzerland
      Parallel: true
      Steps:
        - Name: Bern
          Steps:
            <<: *CommonStep
          <<: *CommonSchedule
    - Name: Finland
      Parallel: true
      Steps:
        - Name: Helsinki
          Steps:
            <<: *CommonStep
          <<: *CommonSchedule
    - Name: Netherlands
      Parallel: true
      Steps:
        - Name: Hague
          Steps:
            <<: *CommonStep
          <<: *CommonSchedule
    - Name: Albania
      Parallel: true
      Steps:
        - Name: Tirana
          Steps:
            <<: *CommonStep
          <<: *CommonSchedule
    - Name: Slovenia
      Parallel: true
      Steps:
        - Name: Ljubljana
          Steps:
            <<: *CommonStep
          <<: *CommonSchedule
    - Name: Bosnia
      Parallel: true
      Steps:
        - Name: Sarajevo
          Steps:
            <<: *CommonStep
          <<: *CommonSchedule
    - Name: Hungary
      Parallel: true
      Steps:
        - Name: Budapest
          Steps:
            <<: *CommonStep
          <<: *CommonSchedule
