# @format

Logging:
  LogLevel:
    Default: Debug

Persistence:
  FileSystem: C:\

SearchAppointments: &SearchAppointments
  Name: Search appointments
  Enabled: false
  Wait: false
  Duration: 00:01:00

Worker:
  Id: WORKER
  Name: Worker
  Enabled: true
  Wait: true
  Schedule:
  Tasks:
    - Id: RU
      Name: Russian
      Parallel: true
      Recursively: 00:01:00
      Schedule:
        StartTime: 09:00:00
        StopTime: 16:30:00
        Workdays: mon,tue,wed,thu,fri
      Tasks:
        - Id: SRB
          Name: Serbia
          Parallel: true
          Tasks:
            - Id: BG
              Name: Belgrade
              Parallel: true
              Tasks:
                - <<: *SearchAppointments
              Schedule:
                TimeZone: 1
        - Id: GER
          Name: Germany
          Parallel: true
          Tasks:
            - Id: BER
              Name: Berlin
              Parallel: true
              Tasks:
                - <<: *SearchAppointments
              Schedule:
                TimeZone: 1
        - Id: FRA
          Name: France
          Parallel: true
          Tasks:
            - Id: PAR
              Name: Paris
              Parallel: true
              Tasks:
                - <<: *SearchAppointments
              Schedule:
                TimeZone: 1
        - Id: MNE
          Name: Montenegro
          Parallel: true
          Tasks:
            - Id: PDG
              Name: Podgorica
              Parallel: true
              Tasks:
                - <<: *SearchAppointments
              Schedule:
                TimeZone: 1
        - Id: IRL
          Name: Ireland
          Parallel: true
          Tasks:
            - Id: DUB
              Name: Dublin
              Parallel: true
              Tasks:
                - <<: *SearchAppointments
              Schedule:
                TimeZone: 0
        - Id: SWI
          Name: Switzerland
          Parallel: true
          Tasks:
            - Id: BER
              Name: Bern
              Parallel: true
              Tasks:
                - <<: *SearchAppointments
              Schedule:
                TimeZone: 1
        - Id: FIN
          Name: Finland
          Parallel: true
          Tasks:
            - Id: HEL
              Name: Helsinki
              Parallel: true
              Tasks:
                - <<: *SearchAppointments
              Schedule:
                TimeZone: 2
        - Id: NLD
          Name: Netherlands
          Parallel: true
          Tasks:
            - Id: HAG
              Name: Hague
              Parallel: true
              Tasks:
                - <<: *SearchAppointments
              Schedule:
                TimeZone: 1
        - Id: ALB
          Name: Albania
          Parallel: true
          Tasks:
            - Id: TIR
              Name: Tirana
              Parallel: true
              Tasks:
                - <<: *SearchAppointments
              Schedule:
                TimeZone: 1
        - Id: SLO
          Name: Slovenia
          Parallel: true
          Tasks:
            - Id: LJU
              Name: Ljubljana
              Parallel: true
              Tasks:
                - <<: *SearchAppointments
              Schedule:
                TimeZone: 1
        - Id: BIH
          Name: Bosnia
          Parallel: true
          Tasks:
            - Id: SAR
              Name: Sarajevo
              Parallel: true
              Tasks:
                - <<: *SearchAppointments
              Schedule:
                TimeZone: 1
        - Id: HUN
          Name: Hungary
          Parallel: true
          Tasks:
            - Id: BUD
              Name: Budapest
              Parallel: true
              Tasks:
                - <<: *SearchAppointments
              Schedule:
                TimeZone: 1

Embassies:
  Id: EMB
  Name: Embassies
  Description: Choose an embassy you want to visit
  Children:
    - Id: RU
      Name: Russian
      Description: In which country is the Russian embassy located?
      Children:
        - Id: SRB
          Name: Serbia
          Description: In which city in Serbia is the Russian embassy located?
          Children:
            - Id: BG
              Name: Belgrade
        - Id: GER
          Name: Germany
          Description: In which city in Germany is the Russian embassy located?
          Children:
            - Id: BER
              Name: Berlin
            - Id: MUN
              Name: Munich
        - Id: FRA
          Name: France
          Description: In which city in France is the Russian embassy located?
          Children:
            - Id: PAR
              Name: Paris
        - Id: ITA
          Name: Italy
          Description: In which city in Italy is the Russian embassy located?
          Children:
            - Id: ROM
              Name: Rome
            - Id: MIL
              Name: Milan
        - Id: ESP
          Name: Spain
          Description: In which city in Spain is the Russian embassy located?
          Children:
            - Id: MAD
              Name: Madrid
        - Id: CZE
          Name: Czechia
          Description: In which city in Czechia is the Russian embassy located?
          Children:
            - Id: PRG
              Name: Prague
        - Id: POL
          Name: Poland
          Description: In which city in Poland is the Russian embassy located?
          Children:
            - Id: WAR
              Name: Warsaw
        - Id: SWI
          Name: Switzerland
          Description: In which city in Switzerland is the Russian embassy located?
          Children:
            - Id: BER
              Name: Bern
        - Id: UK
          Name: United Kingdom
          Description: In which city in the United Kingdom is the Russian embassy located?
          Children:
            - Id: LON
              Name: London
        - Id: CHN
          Name: China
          Description: In which city in China is the Russian embassy located?
          Children:
            - Id: BJ
              Name: Beijing
            - Id: SH
              Name: Shanghai
            - Id: GZ
              Name: Guangzhou
        - Id: USA
          Name: United States
          Description: In which city in the United States is the Russian embassy located?
          Children:
            - Id: DC
              Name: Washington
            - Id: NY
              Name: New York
        - Id: IN
          Name: India
          Description: In which city in India is the Russian embassy located?
          Children:
            - Id: DL
              Name: New Delhi
            - Id: MUM
              Name: Mumbai
        - Id: JP
          Name: Japan
          Description: In which city in Japan is the Russian embassy located?
          Children:
            - Id: TK
              Name: Tokyo
        - Id: EG
          Name: Egypt
          Description: In which city in Egypt is the Russian embassy located?
          Children:
            - Id: CA
              Name: Cairo
        - Id: BR
          Name: Brazil
          Description: In which city in Brazil is the Russian embassy located?
          Children:
            - Id: BSB
              Name: Brasilia
            - Id: SP
              Name: São Paulo
        - Id: AU
          Name: Australia
          Description: In which city in Australia is the Russian embassy located?
          Children:
            - Id: CB
              Name: Canberra
        - Id: KOR
          Name: South Korea
          Description: In which city in South Korea is the Russian embassy located?
          Children:
            - Id: SEO
              Name: Seoul
        - Id: THA
          Name: Thailand
          Description: In which city in Thailand is the Russian embassy located?
          Children:
            - Id: BKK
              Name: Bangkok
        - Id: SGP
          Name: Singapore
          Description: In which city in Singapore is the Russian embassy located?
          Children:
            - Id: SGP
              Name: Singapore
        - Id: SA
          Name: Saudi Arabia
          Description: In which city in Saudi Arabia is the Russian embassy located?
          Children:
            - Id: RD
              Name: Riyadh
        - Id: ZA
          Name: South Africa
          Description: In which city in South Africa is the Russian embassy located?
          Children:
            - Id: PTA
              Name: Pretoria
    - Id: DE
      Name: German
      Description: Choose an embassy
      Children:
        - Id: ESP
          Name: Spain
          Description: In which city in Spain is the German embassy located?
          Children:
            - Id: MAD
              Name: Madrid
        - Id: ITA
          Name: Italy
          Description: In which city in Italy is the German embassy located?
          Children:
            - Id: ROM
              Name: Rome
    - Id: IT
      Name: Italian
      Description: Choose an embassy
      Children:
        - Id: GRE
          Name: Greece
          Description: In which city in Greece is the Italian embassy located?
          Children:
            - Id: ATH
              Name: Athens
        - Id: UKR
          Name: Ukraine
          Description: In which city in Ukraine is the Italian embassy located?
          Children:
            - Id: KYIV
              Name: Kyiv
    - Id: UK
      Name: British
      Description: Choose an embassy
      Children:
        - Id: POL
          Name: Poland
          Description: In which city in Poland is the British embassy located?
          Children:
            - Id: WAR
              Name: Warsaw
        - Id: CZE
          Name: Czechia
          Description: In which city in Czechia is the British embassy located?
          Children:
            - Id: PRG
              Name: Prague
    - Id: FR
      Name: French
      Description: Choose an embassy
      Children:
        - Id: BEL
          Name: Belgium
          Description: In which city in Belgium is the French embassy located?
          Children:
            - Id: BRU
              Name: Brussels
        - Id: GER
          Name: Germany
          Description: In which city in Germany is the French embassy located?
          Children:
            - Id: BER
              Name: Berlin


RussianEmbassy:
  Id: EMB
  Name: Посольство РФ
  Description: Выберите услугу посольства РФ
  Children:
    - Id: PASS
      Name: Паспорт
      Description: Выберите услугу по паспорту посольства РФ
      Children:
        - Id: ISS
          Name: Выпуск заграничного паспорта
          Instruction: Что бы воспользоваться услугой, добавьте ссылку, которую вы получили в email при регистрации после символа | в вышеуказанную команду и отправьте ее в чат.
        - Id: CHK
          Name: Проверка готовности паспорта
          Instruction: Что бы воспользоваться услугой, добавьте номер справки, которую вы получили после подачи документов, после символа | в вышеуказанную команду и отправьте ее в чат.
    - Id: RPL
      Name: Нотариат
      Instruction: Что бы воспользоваться услугой, добавьте ссылку, которую вы получили в email при регистрации после символа | в вышеуказанную команду и отправьте ее в чат.
      Description: Выберите услугу нотариата посольства РФ
      Children:
        - Id: PWR
          Name: Доверенность
          Instruction: Что бы воспользоваться услугой, добавьте ссылку, которую вы получили в email при регистрации после символа | в вышеуказанную команду и отправьте
    - Id: VSA
      Name: Гражданство
      Description: Выберите услугу гражданства посольства РФ
      Children:
        - Id: ISS
          Name: Отказ от гражданства
          Instruction: Что бы воспользоваться услугой, добавьте ссылку, которую вы получили в email при регистрации после символа | в вышеуказанную команду и отправьте ее в чат.