services:
  
  worker:
    container_name: embassy-access-worker
    environment:
      - LOG_LEVEL=info
      - ANTICAPTCHA_KEY=${ANTICAPTCHA_KEY}
      - DATA_ENCRYPTION_KEY=${DATA_ENCRYPTION_KEY}
      - BROWSER_WEBAPI_URL=${BROWSER_WEBAPI_URL}
      - POSTGRES_CONNECTION=${POSTGRES_CONNECTION}
    restart: unless-stopped
    networks:
      - embassy-access-network

  telegram:
    container_name: embassy-access-telegram
    environment:
      - LOG_LEVEL=info
      - OPENAI_KEY=${OPENAI_KEY}
      - ANTICAPTCHA_KEY=${ANTICAPTCHA_KEY}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - DATA_ENCRYPTION_KEY=${DATA_ENCRYPTION_KEY}
      - BROWSER_WEBAPI_URL=${BROWSER_WEBAPI_URL}
      - POSTGRES_CONNECTION=${POSTGRES_CONNECTION}
    restart: unless-stopped
    networks:
      - embassy-access-network

networks:
  embassy-access-network:
    driver: bridge